# Dependencies
node_modules/
backend/venv/
__pycache__/
*.pyc

# Builds
frontend/dist/
frontend/.oxlint/

# Environment files
.env
*.local

# System & uploads
uploads/*
!uploads/.gitkeep
.DS_Store
Thumbs.db
.pytest_cache/
